<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980552415364-oe0bqqfpphsj2gb6hc6tp9l0nj8fh6bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980552415364-oe0bqqfpphsj2gb6hc6tp9l0nj8fh6bo</string>
	<key>API_KEY</key>
	<string>AIzaSyCs0XuKCZDYs7cM1gkEgOGgtzhsjrdOe1s</string>
	<key>GCM_SENDER_ID</key>
	<string>980552415364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Admin.PiyushSinrojaPractical</string>
	<key>PROJECT_ID</key>
	<string>piyushpractical</string>
	<key>STORAGE_BUCKET</key>
	<string>piyushpractical.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980552415364:ios:64ff6c9177a9696b9c2ad1</string>
	<key>DATABASE_URL</key>
	<string>https://piyushpractical-default-rtdb.firebaseio.com</string>
</dict>
</plist>